.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  height: 80px;
}

.search-form .p-field {
  margin-bottom: 1rem;
}

.search-form button {
  margin-top: 1rem;
}
